<md-sidenav-container mode="push" class="km-dark">

    <md-sidenav #sidenav mode="side" opened="false">
        Menu goes here
    </md-sidenav>

    <md-toolbar color="primary">
        <button md-button (click)="sidenav.toggle()">
            <md-icon class="km-toolbar-icon">more_vert</md-icon>
        </button>
        <span>{{ title }}</span>
        <span class="km-toolbar-spacer"></span>
        <span class="button-row">
            <button md-mini-fab *ngFor="let el of accounts; let i=index" (click)="openInTab(i)" [mdTooltip]="el.label" mdTooltipPosition="below">
                <md-icon class="km-toolbar-icon">{{ el.icon }}</md-icon>
            </button>
        </span>
    </md-toolbar>

    <div fxLayout="row"
         fxLayoutAlign="space-around center" 
         class="km-spa-content">
        <div fxFlex="80%" fxFlexAlign="stretch">
            <h1>{{ title }}</h1>
        </div>
        <aside fxFlex fxFlexFill fxHide.md fxHide.sm fxHide.xs>
            <h1>{{ title }}</h1>
        </aside>
    </div>

</md-sidenav-container>