$primary: #004ffc;
$light: #ffffff;
$dim: #6c6d6d;
$black: #252827;

@each $name, $color in ('black' $black, 'primary' $primary, 'light' $light, 'dim' $dim) {
  .is-#{$name} {
    color: $color;
  }
  .has-background-#{$name} {
    background-color: $color;
  }
}
