// colors taken from http://materialuicolors.co/

$red: #f44336;
$grey: #607d8b;
$pink: #e91e63;
$purple: #673ab7;
$blue: #3f51b5;
$green: #4caf50;
$yellow: #ffc107;
$orange: #ff5722;
$black: #000011;

@each $name,
  $color
    in (
      'yellow' $yellow,
      'orange' $orange,
      'black' $black,
      'green' $green,
      'blue' $blue,
      'red' $red,
      'grey' $grey,
      'pink' $pink,
      'purple' $purple
    )
{
  .is-#{$name} {
    color: $color;
  }
  .has-background-#{$name} {
    background-color: $color;
  }
}
