// fluid colors
$fluid_turquise: #1abc9c;
$fluid_emerald: #1abc9c;
$fluid_petteriver: #3498db;
$fluid_amethyst: #9b59b6;
$fluid_watesphalt: #34495e;
$fluid_greensea: #16a085;
$fluid_nephritis: #27ae60;
$fluid_belizehole: #2980b9;
$fluid_wisteria: #8e44ad;
$fluid_midnightblue: #2c3e50;
$fluid_sunflower: #f1c40f;
$fluid_carrot: #e67e22;
$fluid_alizarin: #e74c3c;
$fluid_clouds: #ecf0f1;
$fluid_conrete: #95a5a6;
$fluid_orange: #f39c12;
$fluid_pumpkin: #d35400;
$fluid_pomegranate: #c0392b;
$fluid_silver: #bdc3c7;
$fluid_asbestos: #7f8c8d;

// my colors
$black: $fluid_midnightblue;
$light: $fluid_clouds;
$primary: $fluid_petteriver;
$secondary: $fluid_sunflower;

@each $name,
  $color in ('black' $black, 'primary' $primary, 'light' $light, 'secondary' $secondary)
{
  .is-#{$name} {
    color: $color;
  }
  .has-background-#{$name} {
    background-color: $color;
  }
}
