@font-face {
  font-family: 'hattori_hanzolight';
  src: local('Hattori Hanzo Light'),
    url('./fonts/Hattori_Hanzo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'hattori_hanzolight';

  main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      '. header . . . . . .'
      '. logo logo . content content content .'
      '. logo logo . content content content .'
      '. logo logo . content content content .'
      '. logo logo . content content content .'
      '. . . . . . . .';
    grid-gap: 1rem;

    margin: 2vh 1vw 2vh 1vw;
    width: 98vw;
    height: 96vh;

    align-items: stretch;
    justify-content: stretch;
    align-content: stretch;

    header {
      grid-area: header;
      align-self: center;
      justify-self: center;
    }

    .logo {
      grid-area: logo;
      img {
        height: auto;
        max-width: 100%;
        object-fit: cover;
        border-radius: 5rem;
      }
    }

    .content {
      grid-area: content;

      align-items: stretch;
      justify-content: stretch;
      align-content: stretch;

      .greeting {
        text-align: center;
      }
      section {
        padding: 0 1.25rem 0 1.25rem;
      }
    }
  }
}
