@import './responsivness.scss';
@import './colors.scss';
@import './timeline.scss';
@import './nav.scss';

@font-face {
  src: url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i');
  font-family: 'Chivo', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: smaller;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: scale-down;
  border-radius: 5rem;
}

body {
  background-color: $black;
  color: $light;

  &:before {
    content: '';
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    z-index: 100;
  }

  overflow: hidden auto;

  main {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template: 'aside . content';
    align-self: center;
    justify-self: center;

    grid-gap: 1rem;
    padding: 2rem 10rem;

    aside {
      display: grid;
      grid-area: aside;
      grid-template-columns: 1fr;
      grid-template-rows: 75vh 1fr;
      grid-template: '
        aside-nav
        aside-footer';
      grid-row-gap: 2rem;
      nav {
        grid-area: aside-nav;
      }
      footer {
        grid-area: aside-footer;
      }
    }
  }
}
