@import './responsivness.scss';
@import './colors.scss';
@import './timeline.scss';
@import './nav.scss';
@import './emoji.scss';

@font-face {
  src: url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i');
  font-family: 'Chivo', sans-serif;
  font-weight: normal;
  font-style: normal;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: scale-down;
  border-radius: 5rem;
}

body {
  background-color: $light;
  color: $black;
  overflow: hidden auto;

  &:before {
    content: '';
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 0px 15px 15px transparentize($black, 0.5);
    z-index: 100;
  }

  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: 100px 1fr;
  grid-template:
    'header header header'
    'aside . main';
  align-self: center;
  justify-self: center;

  grid-gap: 1rem;
  padding: 2rem 2rem;
  margin: 0 1rem;

  main {
    grid-area: main;
    max-height: 70vh;
    overflow: hidden auto;
    &::-webkit-scrollbar {
      width: ($line * 2);
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px transparentize($dim, 0.9);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary;
      outline: 1px dashed $black;
    }
  }
  header {
    grid-area: header;

    display: flex;
    justify-items: baseline;
    align-items: center;

    padding: 1rem;

    line-height: 0.5em;

    address {
      display: block;
      font-size: smaller;
      align-items: last baseline;
    }
    img {
      display: block;
      max-height: 100px;
      &:first-child {
        margin-right: 2rem;
      }
    }
    aside {
      display: flex;
      align-items: center;
    }
  }
  aside {
    display: grid;
    grid-area: aside;
    grid-template-columns: 1fr;
    grid-template-rows: 75vh 1fr;
    grid-template: '
        aside-nav
        aside-footer';
    grid-row-gap: 2rem;
    nav {
      grid-area: aside-nav;
    }
    footer {
      grid-area: aside-footer;
    }
  }
}
