@import './colors.scss';

$line: 5px;
$radius: 5px;
$spacing: 50px;

.timeline {
  color: fade($black, 80%);
  letter-spacing: 0.5px;

  .event {
    .header {
      letter-spacing: 1.5px;
      font-weight: 400;
      font-size: 1.4em;
    }
    padding-bottom: ($spacing * 0.25);
    padding-right: ($spacing * 0.75);
    margin-bottom: ($spacing * 0.5);
    text-align: justify;

    strong {
      font-weight: 700;
    }
    em {
      font-weight: 500;
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      li {
        display: flex;
        padding: 5px 0;
        &:not(:last-child) {
          margin-right: 5px;
        }
        img {
          max-height: 25px;
          border-radius: unset;
        }
      }
    }

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
