@import './colors.scss';

$line: 5px;
$radius: 5px;
$spacing: 50px;

.timeline {
  grid-area: content;
  justify-self: flex-end;

  border-left: $line solid $primary;
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
  background: fade($light, 3%);
  color: fade(white, 80%);
  letter-spacing: 0.5px;
  line-height: 1.4em;
  font-size: 1.03em;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 75%;
  max-height: 90vh;
  overflow: hidden auto;

  &::-webkit-scrollbar {
    width: ($line * 2);
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparentize($dim, 0.9);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    outline: 1px dashed $black;
  }

  .event {
    .header {
      letter-spacing: 1.5px;
      font-weight: 400;
      font-size: 1.4em;
    }
    padding-bottom: ($spacing * 0.25);
    padding-right: ($spacing * 0.75);
    margin-bottom: ($spacing * 0.5);
    text-align: justify;

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
